
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-shadow: none;
    overflow-x: hidden;
}

.nav-container{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 25px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
}

.bar-icon {
    height: 21px;
    padding-top: 15px;
    margin-left: 25px;
    color: rgb(113, 104, 104);
}

.nav-filter {
    outline: none;
    margin-left: 40px;
    background-color: rgb(248 248 248);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 5px 20px;
}

.no-border {
    border: none;
}

.categories {
    border-radius: 5px;
    background-color: rgb(248 248 248);
    width: 72px;
}

.categories:focus {
    border: solid rgb(134, 183, 254);
    outline: none;
    background-color: rgb(248 248 248);
}

.nav-search-bar {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(248 248 248);
}

.nav-search-bar:focus {
    border: solid rgb(134, 183, 254);
    outline: none;
}

.nav-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bold {
    font-weight: 700;
}

.nav-menu-container li {
    list-style-type: none;
}

.nav-menu-container li a {
    color: black;
    text-decoration: none;
}

.nav-icons-right {
    display: flex;
    justify-content: space-between;
}

.drop-down-menu {
    display: none;
}

.pages-drop-down:hover .drop-down-menu {
    display: block;
}

.nav-icons-right {
    display: flex;
    justify-content: flex-end;
    align-content: space-evenly;
    gap: 10px;
}

.icon{
    width: 25px;
    height: 25px;
    padding: 15px;
}

/* Hero Section */
.hero-container {
    background-image: url("/assets/BG.png");
    background-size: cover;
    padding: 75px 30px 0px 30px;
}

.hero-first-div {
    display: block;
}

.hero-header {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-content: center;
}

.hero-header h1 {
    font-weight: 450;
    font-size: 75px;
    text-align: left;
    /* margin: 15px; */
}

.hero-header h1 .organic-word {
    font-weight: 700;
    color: rgb(105 176 80);
    display: inline;
}

.hero-header h1 .doorsteps-word {
    font-weight: 700;
}

.hero-paragraph {
    font-size: 25px;
    font-weight: 300;
    color: #6c757d;
    padding: 15px;
}

.hero-btn button{
    border-radius: 25px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin: 5px;
    height: 50px;
    width: 155px;
}

.btn-start {
    background-color: rgb(105 176 80);
}

.btn-start:hover {
    background-color: #f7a422;
}

.btn-join {
    background-color: rgb(33, 37, 41);
}

.btn-join:hover {
    background-color: rgb(33, 37, 41, 0.7);
}

.hero-reviews {
    display: flex;
    
}

.review-row {
    display: flex;
    margin: 35px 20px 15px 0;
    align-items: center;
}

.review-counts {
    margin-right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.review-des {
    font-size: 17px;
    margin-right: 25px;
}

.hero-card-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero-card  {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    color: white;
    line-height: 30px;
}

.hero-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.card-icon {
    font-size: 30px;
}

.head-para {
    display: flex;
    flex-direction: column;
}

.card-head {
    font-size: larger;
}

.card-description {
    font-size: small;
}

.light-green-bg {
    background-color: rgb(105 176 80);
}

.green-bg {
    background-color: rgb(54 65 39);
}
.orang-bg {
    background-color: rgb(249 95 9);
}

/* Category */
.cate-container {
    margin: 15px 30px 50px 30px;
}

.cate-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.cate-head-left h5 {
    font-size: 30px;
}

.cate-head-right {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cate-head-right button {
    font-size: 20px;
}

.btn-view-all {
    background-color: rgb(105 176 80);
    border: none;
    border-radius: 6px;
    padding: 5px;
    color: white;
}

.btn-view-all:hover {
    background-color: #f7a422;
}

.btn-arrow {
    border: none;
    border-radius: 6px;
    padding: 5px;
}

.btn-arrow:hover {
    background-color: rgb(105 176 80);
}

.cate-content-container {
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;
}

.cate-img img {
    display: flex;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.cate-content {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

/* Best selling product */
.product-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-card {
    text-align: center;
    padding: 15px;
}

.product-content {
    line-height: 25px;
    margin: 10px auto;
}

.product-name {
    margin: 3px auto;
}

.fa-star{
    font-size: 12px;
}

.star-yellow {
    color: rgb(255 193 7);
    
}

.rating-count {
    color: #747474;
}

.amount-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

.break-amount {
    text-decoration: line-through;
    color: #747474;
}

.amount-bold {
    font-weight: 650;
}

.discount-offer {
    font-size: 13px;
    padding: 0 3px;
    border: 1px solid #747474;
    color: #747474;
}

.product-card-bottom {
    display: none;
}

.product-card:hover .product-card-bottom {
    display: block;
}
.product-card:hover {
    box-shadow: 1px 1px 22px #F7F7F7;
}

.product-count {
    width: 45px;
    height: 35px;
    text-align: center;
    padding: 2px;
    border: 1px solid #747474;
    border-radius: 5px;
}

.btn-addtocart{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgb(105 176 80);
    color: white;
}

.btn-addtocart:hover {
    background-color: #f7a422;
}

.btn-wishlist {
    padding: 10px;
    text-align: center;
    border: 1px solid #747474;
    border-radius: 5px;
}

.btn-wishlist:hover {
    background-color: black;
    color: white;
}

/* Banner section */
.banner-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    margin: 30px;
    align-items: center;
}

.banner-ad-1 {
    background-image: url(/assets/banner-ad-1.jpg);
    object-fit: cover;
    height: 450px;
    width: 100%;
}
.banner-ad-2 {
    background-image: url(/assets//banner-ad-2.jpg);
    object-fit: cover;
    height: 210px;
    width: 100%;
}
.banner-ad-3 {
    background-image: url(/assets/banner-ad-3.jpg);
    object-fit: cover;
    height: 210px;
    width: 100%;
    margin-top: 23px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white; 
    margin: 41px;
}

.banner-content-center {
    height: 50vh;
}

.banner-content .banner-head-line {
    font-size: 25px;
    margin-bottom: 15px;
}

.banner-content .banner-para-line {
    margin-bottom: 30px;
}

.banner-content .banner-shop-now {
    text-decoration-color: white;
    text-decoration: none;
    color: white;
}

.banner-shop-now-underline {
    width: 100%;
    height: 2px;
    background-color: rgb(193, 186, 186);
    margin-top: 3px;
    left: -100%;
    transition: right 0.5s ease-out; 
}

.banner-shop-now:hover + .banner-shop-now-underline {
    position: relative;
    width: 100%;
    background-color: white;
    transition: left 0.5s ease-in-out; 
    left: 0%;
}


/* Featured products */
.featured-product-card-container {
    display: flex;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.featured-product-card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: 35vh;
}

/* News letter */
.news-letter-container {
    background-image: url(/assets/banner-newsletter.jpg);
    object-fit: cover;
    height: 40vh;
    margin: 40px 30px;
}

.news-letter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 40vh;
}

.news-content-left {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content-left h5 {
    font-size: 45px;
    font-weight: 500;
}

.news-content-left p {
    margin: 10px 0;
}

.content-left {
    text-align: start;
    align-content: end;
}

.news-content-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-content-right input {
    width: 70vh;
    height: 5vh;
    border: none;
    
}

.news-content-right input::placeholder {
    padding-left: 10px;
    font-weight: 600;
    color: #747474;
}

.news-content-right input:focus {
    border: 1px solid #007aff;
    outline: none;
}

.btn-submit {
    background-color: #000;
    color: white;
}

.btn-submit:focus {
    border: none !important;
}

/* Blogs */
.blog-container {
    margin: 30px;
}

.blog-post-container {
    display: flex;
    gap: 20px;
}

.blog-post {
    border: none;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding: 15px;
    margin: 7px;
}

.blog-img {
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.blog-description {
    line-height: 30px;
    text-align: start;
    margin: 15px;
}

.date-cate {
    font-size: 13px;
    color: #747474;
}

.date-cate span {
    margin-right: 15px;
}

.blog-head {
    font-size: 25px;
    overflow: hidden;
}

.blog-para {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}